header {
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 2em 10%;
    background: #2c3e50;
    color: #fff;
}

nav > a {
    color: white;
    text-decoration: none;
}

nav > a:hover {
    color: black;
    text-decoration: underline;
}

form {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: cornflowerblue solid;
    border-radius: 10px;
}

form > input {
    margin: 10px;
}

form > button {
    margin: 10px;
}
footer {
    padding: 10px 20px;
    background: #666;
    color: white;
}